<h2>Form</h2>
<form [formGroup]="form">
  <div>
    <label for="input-1">Input1</label>
    <input id="input-1" formControlName="input1">
  </div>
  <div>
    <label for="input-2">Input2</label>
    <input id="input-2" formControlName="input2">
  </div>
</form>

<h2>Helpers</h2>
<section>
  <h3>getRequiredValue</h3>
  <p>Only get required values:</p>
  <p>All values: {{form.value | json}}</p>
  <p>Required values: {{formHelper.getRequiredValues(form) | json}}</p>
</section>
<h2>Validators</h2>
<section>
  <h3>requiredIfMatchValidator</h3>
  <p>Input2 should be required if Input1 is '1':</p>
  <p>Input2 errors: {{input2?.errors | json}}</p>
</section>
